/* navigation style */
nav {
    float: left;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 35px;
}

nav a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:#D3D3D3;
}


/* body style */
.body{
    margin: 0;
    padding: 0;
    height:100vh;
}

main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* background */
#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}


/* home page style */
.home_title{
    padding-top: 15%;
    text-align:center;
    font-family:Palatino;
    font-size:35px;
}

.home_desc{
    padding-bottom: 5%;
    text-align:center;
    font-family:Bookman;
    font-size: 20px;
}

/* day select page style */
.day_title{
    padding-top: 15%;
    text-align:center;
    font-family:Palatino;
    font-size:35px;
}

.day_select{
    padding-bottom: 5%;
    text-align:center;
    font-family:Bookman;
    font-size: 20px;
}

/*report page style*/
.report_title{
    padding-top: 15%;
    text-align:center;
    font-family:Palatino;
    font-size:35px;
}

.report_content{
    padding-bottom: 5%;
    text-align:center;
    font-family:Bookman;
    font-size: 20px;

    display: grid;
    grid-template-columns: 49.5% 49.5%;
}

.report_content table{
    /*style*/
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.report_content textarea{
    width: 400px;
    height: 380px;
    margin-top: 25px;
}

.report_content.plot_1{
    position:static;
}



.report_content a{
    position:relative;
    right:30px;
}

.report_content table thead tr{
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
}

.report_content table th,
.report_content table td{
    padding: 12px 15px;
}

.report_content table tbody tr{
    border: 1px solid #dddddd;
}

.report_content table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.report_content table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.report_link{
    text-align: center;
}

.report_link a{
    padding-bottom: 200px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.report_link a:hover{
    color:#D3D3D3;
}

.table{
    padding-left: 50px;
}