<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backtest</title>
</head>


<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="day_title">
        <h2>Choosing a time period</h2>
    </div>

    <div class="day_select">
        <p>
            Please set the time interval greater than 4 weeks in order to get a proper plot and performance report.
        </p>
        <form action="{{ action_content }}" method="post">
            <label for="begin_date">Please choose a begin date from the list:</label>
            <select name="begin_date" id="begin_date">
                {% for cur_date in dates %}
                    <option value="{{ cur_date }}">{{ cur_date }}</option>
                {% endfor %}
            </select>

            <br>

            <label for="end_date">Please choose an end date from the list:</label>
            <select name="end_date" id="end_date">
                {% for cur_date in dates %}
                    <option value="{{ cur_date }}">{{ cur_date }}</option>
                {% endfor %}
            </select>

            <br>
            <input type="submit" value="submit">
        </form>


    </div>
    {% endblock %}
</body>
</html>