<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>


<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="day_title">
        <h1>Writing Assistant</h1>
    </div>

    <div class="day_select">
        <label for="begin_date">Please choose a begin date from the list:</label>
        <select name="begin_date" id="begin_date">
            {% for cur_date in dates %}
                <option value="{{ cur_date }}">{{ cur_date }}</option>
            {% endfor %}
        </select>

        <br>

        <label for="begin_date">Please choose an end date from the list:</label>
        <select name="end_date" id="end_date">
            {% for cur_date in dates %}
                <option value="{{ cur_date }}">{{ cur_date }}</option>
            {% endfor %}
        </select>
    </div>
    {% endblock %}
</body>
</html>