<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>


<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="home_title">
        <h1>ML Trading Strategy Backtesting</h1><!--The title of the project-->
    </div>

    <div class="home_desc"> <!--The description text-->
        <p>This website will illustrate the performance of our ML trading strategy. <br><br> After entering a time period, the website will provide the strategy performance in that period.
            <br><br>Please try it in BACKTEST page.
        </p>
    </div>
    {% endblock %}
</body>
</html>
