<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>parent template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>


<div class="body">
    <body>
        <!-- Navigation -->
        <div class="navigation_container">
            <nav><!--Navigation-->
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('backtest') }}">Backtest</a></li>
                </ul>
            </nav>
        </div>

        <!-- content -->
        {% block content %}
        {% endblock %}

        <!-- background effect -->
        <div id="vanta-clouds">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>

        <script>
            VANTA.GLOBE({
              el: "#vanta-clouds",
              mouseControls: true,
              touchControls: true,
              gyroControls: false,
              minHeight: 200.00,
              minWidth: 200.00,
              scale: 1.00,
              scaleMobile: 1.00,
              color: 0xe14e78,
              color2: 0xbb2c90,
              size: 1.20,
              backgroundColor: 0xd7d2dc
            })
        </script>
    </div>
    </body>
</div>
</html>